# Ignore all .out and .log files
*.out
*.log
*.bak
*.cdb
*.hdb
*.dat
*.xml
*.rdb
*.kpt
*.db_info
*.hier_info
*.hif
*.ipinfo
*.html
*.lpc.txt
*.map*
*.ddb
*.sci
*.syn_hier_info
*.tmw_info
*.qmsg
*.qpf
*.qsf
*.qws
*.done
*.rpt
*.qpf
*.txt
*.qpf
*.qsf
*.v
*.g
*.gz
*.json
*.tstamp
*.pbs*
*.do
*.log*
*.mr
*.syn
*.vif
*.alib
*.svf
*mode.sdc
*/synthesis/layout*
*.cmd*
*cadence_synthesis/synthesis/layout*
*cadence_synthesis/synthesis/fv*
